<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
crossorigin=""/>
	<div id="mapid" style="height: 350px;"></div>
	
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
crossorigin=""></script>
	<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
	<script type="">
		var mymap = new L.Map('mapid', {center: new L.LatLng(15., 2.3522),
										zoom: 2,
										worldCopyJump: true});
		mymap.zoomControl.setPosition('topright');
		var layer = new L.StamenTileLayer("watercolor");
		mymap.addLayer(layer);
		var destinations = [[48.85661, 2.35222, 'Paris, départ de notre voyage !'],
							[33.89379, 35.50177, 'Beyrouth'],
							[55.75582, 37.61729, 'Moscou'],
							[59.93428, 30.33509, 'Saint-Pétersbourg'],
							[31.23039, 121.4737, 'Shanghai'],
							[39.90419, 116.40739, 'Beijing'],
							[35.68948, 139.6917, 'Tokyo'],
							[34.69373, 135.50216, 'Osaka'],
							[35.01163, 135.76802, 'Kyoto'],
							[-33.86881, 151.20929, 'Sydney'],
							[-17.53669, -149.56958, 'Papeete'],
							[-27.08898, -109.35452, 'Île de Pâques'],
							[-33.43783, -70.65044, 'Santiago'],
							[-23.86341, -69.13284, "Désert d'Atacama"],
							[4.71098, -74.07209, 'Bogota'],
							[19.4326, -99.1332, 'Mexico'],
							[49.28272, -123.12073, 'Vancouver'],
							[45.50168, -73.56725, 'Montréal']];
		var markers = [];
		destinations.forEach(function(destination) { 
				var marker = L.marker([destination[0], destination[1]]).addTo(mymap);
				marker.bindPopup("<b>" + destination[2] + "</b>");
				markers.push(marker);
			});
		for (var i = 0; i < destinations.length; i++){
			if (i != destinations.length - 1){
				// normal lines 
				if (destinations[i][2] != 'Sydney') {
					var polyline = L.polyline([[destinations[i][0], destinations[i][1]],
										[destinations[i+1][0], destinations[i+1][1]]]).addTo(mymap);
				}
				else {
					var polyline = L.polyline([[destinations[i][0], destinations[i][1]],
										[destinations[i+1][0], destinations[i+1][1]]], {dashArray: "5, 5"}).addTo(mymap);
				}
				
			}
			else {
				// back to the beginning
				var polyline = L.polyline([[destinations[i][0], destinations[i][1]],
										[destinations[0][0], destinations[0][1]]]).addTo(mymap);
			}
		}
		
		// doing some stuff
		markers[0].openPopup();
	</script>